# Virtual environment
myenv/

# Python bytecode
__pycache__/
*.py[cod]

# Database files
*.sqlite3

# Django secret key file
.env

# IDE Specific files (if any)
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
